@import "tailwindcss";


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 2000px;
    overflow-x: hidden;
    overflow-y: 100%;
    scroll-behavior: smooth;
}

/* Scrollbar Hider */

body {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
    overflow-y: 100%;        
}

body::-webkit-scrollbar {
    display: none;             
}

.background {
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,1)),
        url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* NAV */

.navbar {
    width: 100%;
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    z-index: 1000;
}

#navbar {
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.3s ease;
    will-change: background-color, box-shadow, transform;
}


.nav-links img {
    height: 16px;
    vertical-align: middle;
    margin: 0 15px;
    transition: transform 0.2s ease-in-out;
}

.nav-links img:hover {
    transform: scale(1.1);
}


.logo {
    width: 163px;
    height: 43.21px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
}

.signin-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.content {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    color: #fff;
}

#mobile-menu {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

#mobile-menu.active {
    transform: translateX(0);
}


/* body yeah body human anatomy GRAHH*/

.main-logo {
    width: 640.38px;
    height: 169.74px;
}

.main-heading {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 48px;
    color: orange;
    margin: 20px 0;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main-logo {
        width: 80%;
        height: auto;
    }
    .main-heading {
        font-size: 36px;
    }
    .description {
        font-size: 14px;
        padding: 0 10px;
    }
}

/* SLIDINGS */

.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.slideshow {
    display: flex;
    width: fit-content;
}

.slideshow img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    margin-right: 20px;
    border-radius: 20px; 
}

.animate-slide {
    display: flex;
}

.outlined-text {
    color: transparent; 
    -webkit-text-stroke: 2px rgb(251, 185, 1);
    text-stroke: 2px rgb(251, 185, 1);
    letter-spacing: 2px; 
}
